{% load i18n static %}
<div class="component prefix_set">
  <div class="loading-shim"></div>
  <div class="app-bar">
    <div class="row">
      <div class="col-sm">
        <h5>{% trans "Prefix Sets" %}</h5>
      </div>
      <div class="col-sm right">
        <button type="button" class="btn btn-primary btn-xs btn-add">
          <span class="icon white"><img src="{% static "common/icons/md-add.svg" }" alt="{% trans "Add Prefix Set" %}">Add</span></button>
      </div>
    </div>
  </div>
  <table
    class="table table-striped table-sm"
    data-empty-text="No Prefix Sets"
    --data-sort-container="tbody"
    ----data-sort-row=".sortitem">
    <thead>
      <tr>
        <th scope="col" class="cell-button-1"></th>
        <th scope="col" --data-sort-target=".name" class="cell-4">{% trans "Name" %}</th>
        <th scope="col" --data-sort-target=".description">{% trans "Description" %}</th>
        <th scope="col" --data-sort-target=".irr_import" class="cell-1">{% trans "Import" %}</th>
        <th scope="col" class="cell-2"></th>
      </tr>
    </thead>
    <tbody class="api-list-body">
    </tbody>
  </table>

</div>

<table>
  <tr class="listitem sortitem prefix_set">
    <td>
      <button type="button" class="btn btn-danger btn-xs" data-action="delete_remote">
        <span class="icon white"><img src="{% static "common/icons/md-trash.svg" %}" alt="{% trans "Remove" %}"></span>
      </button>
    </td>
    <td scope="col" class="name" name="name"></td>
    <td scope="col" class="description" name="description"></td>
    <td scope="col" class="irr_import" name="irr_import"></td>
    <td class="right">
      <button type="button" class="btn btn-secondary btn-xs" data-action="prefixes">
        <span class="icon white"><img src="{% static "common/icons/md-list-box.svg" %}" alt="{% trans "Prefixes" %}"></span>
      </button>
      <button type="button" class="btn btn-primary btn-xs" data-action="edit">
        <span class="icon white"><img src="{% static "common/icons/md-create.svg" %}" alt="{% trans "Edit" %}"></span>
      </button>
    </td>
  </tr>
</table>

<form class="prefix_set prefix_set-form">

  <div class="non-field-errors"></div>

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="form-group">
          <label for="name">{% trans "Name" %}</label>
          <input type="text" class="form-control" name="name" id="name">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <div class="form-group">
          <label for="description">{% trans "Description" %}</label>
          <input type="text" class="form-control" name="description" id="description">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="irr_import" name="irr_import">
          <label class="form-check-label" for="irr_import">{% trans "Automatic import from IRR" %}</label>
        </div>
        <p class="note">
        {% blocktrans %}
        Prefixes will be imported automatically - this is not instant, please give it a few
        minutes after enabling / changing these settings.
        {% endblocktrans %}
        </p>
        <div class="form-group">
          <label for="irr_as_set">{% trans "IRR Import AS-SET" %}</label>
          <input type="text" class="form-control" name="irr_as_set" id="irr_as_set">
        </div>
        <div class="form-group">
          <label for="irr_sources">{% trans "IRR Import Sources" %}</label>
          <input type="text" class="form-control" name="irr_sources" id="irr_sources" placeholder="all">
        </div>
        <p class="note">
        {% blocktrans %}
        Specify a comma separated list of sources to use (RADB, RIPE, APNIC, ...) - leave blank to use all
        {% endblocktrans %}
        </p>


      </div>
    </div>
  </div>
</form>

<div class="prefix_set prefix-list">
  <table
    class="table-sm table table-borderless table-nested"
    data-api-list-label="prefix"
    --data-sort-container="tbody"
    --data-sort-row=".listitem">
    <thead>
      <tr class="nested">
        <th scope="col" class="nested cell-button-1"></th>
        <th scope="col" class="nested cell-4">{% trans "Prefix" %}</th>
        <th scope="col" class="nested">{% trans "Mask length range" %}</th>
      </tr>
    </thead>
    <tbody class="api-list-body">
    </tbody>
  </table>

  <form id="prefix-add" class="inline form-inline right nested">
      <div class="form-inline-field">
        <label>{% trans "Prefix" %}</label>
        <input type="text" class="form-control form-control-sm" name="prefix" id="prefix">
      </div>
      <div class="form-inline-field">
        <label>{% trans "Mask length range" %}</label>
        <div>
          <input type="text" class="form-control form-control-sm" name="mask_length_range" id="mask_length_range" value="exact">

          <button type="button" class="btn btn-primary btn-xs btn-add attached-sm"><span class="icon white"><img src="{% static "common/icons/md-add.svg" %}" alt="{% trans "Add Prefix" %}"></span></button>
        </div>
      </div>

  </form>

  <div id="prefix-add-irr-note" class="right" style="display: hidden">
    <p class="note">
    {% blocktrans %}
    While IRR import is enabled you cannot manually add prefixes to your prefix
    set
    {% endblocktrans %}
    </p>
  </div>
</div>

<table>
  <tr class="listitem prefix-list">
    <td>
      <button type="button" class="btn btn-danger btn-xs" data-action="delete_remote">
        <span class="icon white"><img src="{% static "common/icons/md-trash.svg" %}" alt="{% trans "Remove" %}"></span>
      </button>
    </td>
    <td scope="col" class="prefix" name="prefix"></td>
    <td scope="col" class="mask_length_range" name="mask_length_range"></td>
  </tr>
</table>


