{% load static i18n %}
<div class="section row mb-5" data-template="menu">
  <div class="col">
    <div class="row">
      <div class="col">
        <span class="heading">{% trans "Prefix Sets" %}</span>
      </div>
      <button type="button" class="primary col-md-auto btn ms-auto d-flex" data-element="button_add_prefix_set">
        <div class="row align-items-center">
          <div class="col label pe-0">{% trans "Add Prefix Set" %}</div>
          <div class="col-auto">
            <span class="icon icon-add"></span>
          </div>
        </div>
      </button>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="toolbar-control input-group searchbar prefix-searchbar" data-api-search="{% url "prefixctl_api:prefix_set-search-prefix" org_tag=request.org.slug %}">
          <input type="text" value="" data-role="filter" placeholder="Search for Prefix">
          <button class="btn curved" data-role="filter_submit" type="button"><span class="icon icon-search"></span></button>
          <button class="btn secondary small" data-role="filter_clear" type="button" style="display: none;"><span class="icon icon-cancel"></span></button>
        </div>
      </div>
    </div>
  </div>
</div>


