{% extends "common/v2/app/base.html" %}
{% load static i18n %}
{% block "title" %}fullctl / prefix{% endblock %}

{% block "js" %}
{{ block.super }}
<script src="{% static "prefixctl/v2/prefixctl.js" %}" type="text/javascript"></script>
<script>
$(document).ready(() => {
  fullctl.prefixctl.PREFIX_MONITOR_CLASSES = {{ PREFIX_MONITOR_CLASSES|safe }};
});
</script>
{% endblock %}

{% block "css" %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "prefixctl/v2/prefixctl.css" %}" />
{% endblock %}

{% block "header_middle" %}
<div class="app-pages-nav | nav h-100" data-component="pages">
  <a class="nav-link active"
    id="tab-prefix-sets"
    data-bs-toggle="tab"
    role="tab"
    aria-controls="prefix-sets"
    aria-selected="true"
    href="#prefix-sets">{% trans "Prefix Sets" %}</a>

  <a class="nav-link"
    id="tab-asn-sets"
    data-bs-toggle="tab"
    role="tab"
    aria-controls="asn-sets"
    data-grainy-remove="asn_set.{{ request.org.permission_id }}"
    href="#asn-sets">{% trans "ASN Sets" %}</a>
</div>
{% endblock %}


{% block "header_right" %}
{% with app_id="prefixctl" %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block "app_content_toolbar_outer" %}
<!-- prefixctl does not have an extra toolbar atm -->
{% endblock %}

{% block "app_content_menu" %}
<div class="menu-deco-border"></div>
{% endblock %}

{% block "app_content_main" %}
<div class="tab-content mt-5" id="app-pages">
  <div class="tab-pane show active" id="prefix-sets" role="tabpanel" aria-labelledby="tab-prefix-sets">
    {% include "prefixctl/v2/tool/prefix_sets/main.html" %}
  </div>

  <div class="tab-pane" id="asn-sets" role="tabpanel" aria-labelledby="tab-asn-sets">
    {% include "prefixctl/v2/tool/asn_sets/main.html" %}
  </div>
</div>
{% endblock %}

{% block "templates" %}
{{ block.super }}
{% endblock %}
